page-home {

  ion-slides{
    width: 100%;
    height: 30em;
  }

  ion-list{
    ion-row{
      display: grid;
      grid-template: 
        "main main main main";
      padding-left: 2%;
      div.product {
        margin: 0.5em;
        padding: 0.5em;
        border: solid 1px #cccccc;
        border-radius: 5px;
        grid-area: 'main';
        width: 23%;
      }
    }
  }

  #botonPuja{
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  page-home{
    ion-list{
      ion-row{
        display: grid;
        grid-template: 
          "main main main";
        padding-left: 1%;
        div.product {
          margin: 0.1em;
          padding: 0.1em;
          border: solid 1px #cccccc;
          border-radius: 5px;
          grid-area: 'main';
          width: 32%;
        }
      }
    }
  }
}
@media screen and (max-width: 760px) {
  page-home{
    ion-list{
      ion-row{
        display: grid;
        grid-template: 
          "main main";
        padding-left: 1%;
        div.product {
          grid-area: 'main';
          width: 47%;
        }
      }
    }
  }
}
